header {
    background-color: white;
    height: 70px;
    width: 100%;
	border-bottom: 1px #CCCCCC;
}

#logo {
	position: relative;
    height: 60px;
	width: 142px;
	background-image: url("../images/logo.png");
	left: 20px;
	top: 5px;
}
